## Tratamento dos dados iniciais

In [2]:
import os
import glob
import pandas as pd
from datetime import datetime
import numpy as np

##### União dos arquivos
São 30 csv separados em dois tipos de relatórios

In [3]:
def unir_arquivos (url):
    diretorio_atual = os.getcwd()

    extension = 'csv'
    os.chdir(url)
    all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

    dfs = []
    for filename in all_filenames:
        df_temp = pd.read_csv(filename, encoding = 'utf-8')
        dfs.append(df_temp)

    df = pd.concat(dfs, ignore_index=True)

    os.chdir(diretorio_atual)

    return df

df_acidentes = unir_arquivos('C:/Users/Public/Documents/PythonScripts/Mestrado/DadosIniciais/RVT017')

C:\Users\loany\AppData\Local\Temp\ipykernel_26968\2055597285.py:10: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(filename, encoding = 'utf-8')
C:\Users\loany\AppData\Local\Temp\ipykernel_26968\2055597285.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(filename, encoding = 'utf-8')
C:\Users\loany\AppData\Local\Temp\ipykernel_26968\2055597285.py:10: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(filename, encoding = 'utf-8')
C:\Users\loany\AppData\Local\Temp\ipykernel_26968\2055597285.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(filename, encoding = 'utf-8')

##### Excluindo algumas colunas para apresentar os dados.
Cada linha é um acidente

In [4]:
colunas_excluir = ['Veiculos', 'RecursosAcionados', 'ProvidenciasTomadas','DescricaoAcidente','Obs']

df_acidentes.drop(columns = colunas_excluir)

,grupo,ncontrole,NumOcorrencia,DataOcorrencia,TipoOcorrencia,DescrOcorrencia,TipoAcidente,TipoAcidenteSub1,TipoAcidenteSub2,CausaProvavel,...,CondicaoTempo,CondicaoPista,TracadoPista,PerfilPista,Latitude,Longitude,TipoPista,TipoLocal,Concessionária,Unnamed: 45
0,"BR101,BR116,BR376",1.0,6.0,8/15/2008,*2*,*Acidente com VITIMA,Queda de Moto,NaN,NaN,Descuido do motorista,...,Bom,Seca,Reta,Aclive,-26.852476,-48.726223,Simples,Rural,Litoral Sul,NaN
1,"BR101,BR116,BR376",2.0,13.0,8/15/2008,*3*,*Acidente com Danos Materiais,Tombamento,NaN,NaN,Descuido do motorista,...,Chuva,Molhada,Curva Acentuada,Em Nivel,-25.845807,-49.089963,Dupla,Rural,Litoral Sul,NaN
2,"BR101,BR116,BR376",3.0,26.0,8/15/2008,*2*,*Acidente com VITIMA,Saida de Pista,NaN,NaN,Descuido do motorista,...,Bom,Seca,Curva Acentuada,Aclive,-25.852474,-48.968578,Dupla,Rural,Litoral Sul,NaN
3,"BR101,BR116,BR376",4.0,33.0,8/15/2008,*3*,*Acidente com Danos Materiais,Colisão Lateral,NaN,NaN,Ignorado,...,Bom,Seca,Reta,Declive,-25.898059,-48.928002,Dupla,Rural,Litoral Sul,NaN
4,"BR101,BR116,BR376",5.0,36.0,8/15/2008,*2*,*Acidente com VITIMA,Colisão Lateral,NaN,NaN,Ignorado,...,Bom,Seca,Reta,Em Nivel,-25.852474,-48.968578,Dupla,Rural,Litoral Sul,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451618,"BR116/PR,BR116/SC",73.0,22.0,5/14/2022,3,Acidente com Danos Materiais,Choque - Talude,NaN,NaN,Ofuscamento (natural ou outro veiculo),...,Bom,Seca,Curva Acentuada,Em Nivel,-28.198351,-50.752202,Simples,Rural,Planalto Sul,NaN
451619,"BR116/PR,BR116/SC",12.0,142.0,5/2/2022,3,Acidente com Danos Materiais,Choque - Talude,NaN,NaN,Trafegar na contra - mão,...,Chuva,Molhada,Curva Suave,Declive,-28.198450,-50.724750,Simples,Rural,Planalto Sul,NaN
451620,"BR116/PR,BR116/SC",45.0,57.0,3/12/2022,3,Acidente com Danos Materiais,Choque - Talude,NaN,NaN,Derrapagem,...,Garoa,Molhada,Curva Acentuada,Declive,-28.198692,-50.725941,Simples,Rural,Planalto Sul,NaN
451621,"BR116/PR,BR116/SC",136.0,21.0,11/29/2022,2,Acidente com VITIMA,Tombamento,NaN,NaN,Derrapagem,...,Bom,Seca,Reta,Em Nivel,-28.198813,-50.725349,Dupla,Rural,Planalto Sul,NaN
451622,"BR116/PR,BR116/SC",119.0,82.0,8/29/2022,3,Acidente com Danos Materiais,Colisão Traseira,NaN,NaN,Congestionamento,...,Bom,Seca,Curva Suave,Em Nivel,-28.198883,-50.726511,Dupla,Rural,Planalto Sul,NaN

In [5]:
def acidentes_delete_colunas(df):
    colunas_excluir = ['Unnamed: 0', 'grupo', 'ncontrole', 'TipoOcorrencia', 'TipoAcidenteSub1', 'TipoAcidenteSub2', 'CausaProvavel', 'NumBO', 'Origem', 'CidadeV1', 'CidadeV2','CidadeV3','CidadeVx','NaoInfo','RecursosAcionados','ProvidenciasTomadas', 'DescricaoAcidente', 'Obs', 'CondicaoEspecial','CondicaoVisibilidade', 'CondicaoTempo', 'Latitude', 'Longitude', 'Unnamed: 45', 'TipoPista']
    df.drop(colunas_excluir, axis=1, errors='ignore', inplace=True)
    return df

df_acidentes = acidentes_delete_colunas(df_acidentes)

Tratando os nomes das Concessionárias

In [6]:
df_acidentes.Concessionária.unique()

array(['Litoral Sul', 'Planalto Sul', 'Régis Bittencourt', 'Fluminense',
       'Intervias', 'Fernão Dias', 'planalta Sul', 'Autovias', nan,
       'ViaPaulista'], dtype=object)

In [7]:
def tratar_nome_concessionaria(df):
    if "Concessionária" in df.columns:
        df.rename(columns={'Concessionária': 'Concessionaria'}, inplace=True)
    concessionaria = {'ARTERIS FLUMINENSE': 'Fluminense',
                      'INTERVIAS': 'Intervias',
                      'Arteris Planalto Sul': 'Planalto Sul',
                      'Arteris Fernão Dias': 'Fernão Dias',
                      'Arteris Litoral Sul': 'Litoral Sul',
                      'Auto Pista Regis': 'Régis Bittencourt',
                      'VIAPAULISTA': 'ViaPaulista',
                      'planalta Sul': 'Planalto Sul'}
    df['Concessionaria'].replace(concessionaria, inplace=True)
    
    df.query('Concessionaria.notna()', inplace=True)
    
    return df

df_acidentes = tratar_nome_concessionaria(df_acidentes)

df_acidentes.Concessionaria.unique()

C:\Users\loany\AppData\Local\Temp\ipykernel_26968\184597869.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Concessionaria'].replace(concessionaria, inplace=True)

array(['Litoral Sul', 'Planalto Sul', 'Régis Bittencourt', 'Fluminense',
       'Intervias', 'Fernão Dias', 'Autovias', 'ViaPaulista'],
      dtype=object)

A chave primária é a união do número da ocorrência, data e Concessionária.

In [8]:
def chave_primaria(df):
    df['DataOcorrencia'] = pd.to_datetime(df['DataOcorrencia']).dt.date
    
    df['OcDataConcessionaria'] = df.apply(
        lambda row: '%s.%s.%s' %(row['NumOcorrencia'], row['DataOcorrencia'], row['Concessionaria']), axis=1)
    return df

df_acidentes = chave_primaria(df_acidentes)

In [9]:
def ajustando_formatos(df):
    coluna = ['km', 'mt']
    df[coluna] = df[coluna].astype(float)
    df = df.dropna(subset=['NumOcorrencia'])
    df['NumOcorrencia'] = df['NumOcorrencia'].astype(int)
    df['DataOcorrencia'] = pd.to_datetime(df['DataOcorrencia'], format='%m/%d/%Y')
    df['Hora'] = pd.to_datetime(df['Hora'], format='%H:%M:%S')

    return df

df_acidentes = ajustando_formatos(df_acidentes)

Incluindo coluna de UPS, estação com base na data, e periodo do dia

In [12]:
def obter_estacao(data):
    mes = data.month
    if 3 <= mes <= 5:
        return 'Outono'
    elif 6 <= mes <= 8:
        return 'Inverno'
    elif 9 <= mes <= 11:
        return 'Primavera'
    else:
        return 'Verão'

def incluir_colunas(df):
    df.loc[df['DescrOcorrencia'] == 'Acidente com Danos Materiais', 'UPS'] = 1
    df.loc[(df['DescrOcorrencia'] == 'Acidente com VITIMA') & (df['TipoAcidente'] != 'Atropelamento - Pedestre'), 'UPS'] = 4
    df.loc[(df['DescrOcorrencia'] == 'Acidente com VITIMA') & (df['TipoAcidente'] == 'Atropelamento - Pedestre'), 'UPS'] = 6
    df.loc[df['DescrOcorrencia'] == 'Acidente com Vitima Fatal', 'UPS'] = 13

    df['kmmt'] = round((df['km'] + (df['mt'] / 1000)), 1)
    df.drop(['km', 'mt'], axis=1, inplace=True)

    df['Estacao'] = df['DataOcorrencia'].apply(obter_estacao)

    df.dropna(subset=['DataOcorrencia'], inplace=True)
    df['Ano'] = pd.DatetimeIndex(df['DataOcorrencia']).year.astype(int)
    df['Mes'] = pd.DatetimeIndex(df['DataOcorrencia']).month.astype(int)

    # Periodo dia
    df.dropna(subset=['Hora'], inplace=True)
    inicio_noite = datetime.strptime('18:00:00', '%H:%M:%S')
    fim_noite = datetime.strptime('06:00:00', '%H:%M:%S')

    df['Período'] = df['Hora'].apply(lambda x: 'Noite' if (x.time() >= inicio_noite.time() or x.time() < fim_noite.time()) else 'Dia')
    df = df.drop(columns='Hora', axis=1)
    return df

df_acidentes = incluir_colunas(df_acidentes)

Incluindo latitude e longitude com base na quilometro

In [13]:
def ajustando_lat_lon(df):
    unico_km = pd.read_csv('DadosIniciais/Base/Latitude-Longitude.csv', encoding='latin-1', index_col=None)
    unico_km.drop(columns=['Concessionaria', 'kmmt', 'Rodovia'], axis=1, inplace=True)

    df.loc[(df['Concessionaria'] == 'Litoral Sul') & (df['kmmt'] == 682.5), 'kmmt'] = 681.1

    df['ConcessionariaRodoviakm'] = df.apply(
        lambda row: '%s.%s.%s' % (row['Concessionaria'], row['Rodovia'], row['kmmt']), axis=1)

    df = pd.merge(df, unico_km, on='ConcessionariaRodoviakm', how='left', right_index=False)
    df.drop(['ConcessionariaRodoviakm'], axis=1, inplace=True)
    df.dropna(subset=['Longitude', 'Latitude'], inplace=True)
    return df

df_acidentes = ajustando_lat_lon(df_acidentes)

Padronizando Tipo de Acidentes, pois há muitos dados semelhantes, mas com nomes diferentes, como "Choque - Defensa, barreira ou  submarino" e "Choque - Elemento de Drenagem"

In [15]:
df_acidentes.TipoAcidente.value_counts()

TipoAcidente
Colisão Traseira                             75600
Saida de Pista                               51551
Choque - Defensa, barreira ou  submarino     47589
Colisão Lateral                              34043
Capotamento                                  27611
Engavetamento                                17893
Queda de Moto                                17772
Tombamento                                   14384
Choque - Elemento de Drenagem                11205
Outros - Sequência                            5357
Choque - Talude                               5195
Atropelamento de Animal                       3116
Choque - Objeto sobre a pista                 2845
Colisão Transversal                           2840
Choque - Suporte de Sinalização               2467
Atropelamento - Morador                       2401
Colisão Frontal                               2272
Outros                                        2242
Choque - Outros                               2172
Atropelamento - Andarilho                     1340
Choque - Poste                                1147
Objeto lançado contra veículo                  975
Choque - Cancela de Pedagio                    962
Atropelamento - Ciclista                       866
Não Def                                        753
Acidente envolvendo ciclista                   630
Atropelamento - Outros                         629
Atropelamento - Usuário                        559
Choque - Arvore                                402
Atropelamento - Sem Informação                 334
Choque - Veiculo parado na pista               316
Choque - Veiculo parado no acostamento         303
Atropelamento - Funcionário                    149
Atropelamento - Ambulante                      139
Choque - Objeto não identificado                80
Soterramento                                    56
Submersão                                       38
Incêndio                                        16
Travessia Canteiro Central                      14
Explosão                                         2
Transposição de Pista                            2
Name: count, dtype: int64

In [17]:
def tipo_acidente(df):
    acidente = pd.read_csv('DadosIniciais/Base/TipoAcidente.csv', sep=",", encoding="ISO-8859-1", index_col=None)
    df = pd.merge(df, acidente, on='TipoAcidente', how='inner')
    df.drop(columns=['TipoAcidente'], inplace=True)
    df.rename(columns={'TipoAcidente2': 'TipoAcidente'}, inplace=True)
    
    return df

df_acidentes = tipo_acidente(df_acidentes)

Padronizar Tipo de Local

In [16]:
df_acidentes.TipoLocal.value_counts()

TipoLocal
Rural               298149
Comercial            14455
Industrial           13258
Residencial           6181
Urbano                2539
0                     1809
Praça de Pedágio      1051
Escolar                757
Recreio                 30
Name: count, dtype: int64

In [18]:
def tipo_local(df):
    local = pd.read_csv('DadosIniciais/Base/Local.csv', sep=",", encoding="ISO-8859-1", index_col=None)
    df = pd.merge(df, local, on='strLocal', how='inner')
    df = df.loc[(df['Local2'] != 'Marginal') &
                (df['Local2'] != 'Base Operacional') &
                (df['Local2'] != 'Posto Policial') &
                (df['Local2'] != 'Fora')]
    df.drop(columns=['strLocal'], inplace=True)
    df.rename(columns={'Local2': 'Local'}, inplace=True)

    df['TipoLocal'] = df['TipoLocal'].replace(['Residencial','Comercial','Industrial','Escolar','Recreio'], 'Urbano')
    df['TipoLocal'] = df['TipoLocal'].replace(['Praça de Pedágio','0','Praça de Pedágio',np.nan], 'Rural')

    return df

df_acidentes = tipo_local(df_acidentes)

Retirar * da coluna 'DescrOcorrencia'

In [20]:
df_acidentes['DescrOcorrencia'].value_counts()

DescrOcorrencia
Acidente com Danos Materiais     166164
Acidente com VITIMA               66001
*Acidente com Danos Materiais     62203
*Acidente com VITIMA              17967
Acidente com Vitima Fatal          3879
*Acidente com Vitima Fatal         1192
Name: count, dtype: int64

In [21]:
df_acidentes['DescrOcorrencia'] = df_acidentes['DescrOcorrencia'].str.replace('*', '').str.strip()

Alterar valores 'não def' pois é um erro do sistema

In [ ]:
df_acidentes['TracadoPista'].replace('Não Def', 'Reta', inplace=True)
df_acidentes['CondicaoPista'].replace('Não Def', 'Seca', inplace=True)
df_acidentes['PerfilPista'].replace('Não Def', 'Em Nivel', inplace=True)

Acidentes com bicicleta devem ser alterados pois é um tipo de acidente com vulneravel, então todo acidente com bicicleta deve ser 'Atropelamento-Ciclista'

In [26]:
df_acidentes.query('TipoAcidente == "Atropelamento - Ciclista"').shape[0]

491

In [28]:
def alterar_acidente_bicicleta (df):

    df.dropna(subset=['Veiculos'], inplace=True)
    auxiliar = df[['Veiculos', 'TipoAcidente']]

    palavra = 'bici'
    tipoac = auxiliar[auxiliar['Veiculos'].str.contains(palavra, case=False)]

    tipoac['TipoAcidente'] = tipoac['TipoAcidente'].replace(['Colisão Traseira','Colisão Transversal','Colisão Lateral','Engavetamento''Colisão Frontal'],
                                                            'Atropelamento - Ciclista', regex=True)

    tipoac = tipoac.loc[(tipoac['TipoAcidente'] == 'Atropelamento - Ciclista')]
    tipoac['Analise'] = 1
    tipoac.drop(columns=['TipoAcidente', 'Veiculos'],axis=1, inplace=True)

    df = pd.merge(df, tipoac, left_index=True, right_index=True, how='left')
    df.loc[df['Analise'] == 1, 'TipoAcidente'] = 'Atropelamento - Ciclista'
    df.drop('Analise', axis=1, inplace=True)

    return df

df_acidentes = alterar_acidente_bicicleta(df_acidentes)

df_acidentes.query('TipoAcidente == "Atropelamento - Ciclista"').shape[0]

C:\Users\loany\AppData\Local\Temp\ipykernel_26968\2490600387.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tipoac['TipoAcidente'] = tipoac['TipoAcidente'].replace(['Colisão Traseira','Colisão Transversal','Colisão Lateral','Engavetamento''Colisão Frontal'],

532

Foi incluido a variavel Tracado da pista(curva acentuada, curva suave, reta) e tipo de local (rural ou urbano) com base na analise no QGIS, considerando a latitude e longitude do acidente

In [29]:
def incluir_qgis(df):
    qgis = pd.read_csv('DadosIniciais/Base/QGIS.csv', index_col=None)

    df.rename(columns={'TracadoPista': 'TracadoPista_1', 'TipoLocal': 'TipoLocal_1'}, inplace=True)
    df = pd.merge(df, qgis, how='left', on='OcDataConcessionaria')

    df['TracadoPista'] = df['TracadoPista'].fillna(df['TracadoPista_1'])
    df['TipoLocal'] = df['TipoLocal'].fillna(df['TipoLocal_1'])

    df.drop(columns=['TracadoPista_1', 'TipoLocal_1'], inplace=True)
    return df

df_acidentes = incluir_qgis(df_acidentes)

In [ ]:
df_acidentes.drop(columns=['Veiculos']).head(5)

Incluido o tipo de veiculo envolvido "motocicleta, veiculo leve, veiculo pesado, veiculo de passageiros" com base na coluna "Veiculos"

In [ ]:
def tipo_veiculo(df):
    apoio_veiculos = df.copy()
    apoio_veiculos = apoio_veiculos[['OcDataConcessionaria', 'Ano', 'Numveic', 'Veiculos']]
    apoio_veiculos.drop(['Ano', 'Numveic'], inplace=True, axis=1)

    palavra_moto = 'moto'
    moto = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_moto, case=False)]
    moto = moto.drop(columns=['Veiculos'])
    moto['Motocicleta'] = True
    df = pd.merge(df, moto, on='OcDataConcessionaria', how='left')


    palavra_veic_leve = 'autom'
    automovel = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_leve, case=False)]

    palavra_veic_leve = 'caminhone'
    caminhonete = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_leve, case=False)]

    palavra_veic_leve = 'perua'
    perua = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_leve, case=False)]

    veic_leve = pd.concat([automovel, caminhonete, perua], axis=0, ignore_index=True)
    veic_leve = veic_leve.drop(columns=['Veiculos'])
    veic_leve = veic_leve.drop_duplicates(subset='OcDataConcessionaria')
    veic_leve['Veiculo_Leve'] = True
    df = pd.merge(df, veic_leve, on='OcDataConcessionaria', how='left')


    palavra_veic_pesado = 'caminhão'
    caminhao = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_pesado, case=False)]

    palavra_veic_pesado = 'carreta'
    carreta = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_pesado, case=False)]

    veic_pesado = pd.concat([caminhao, carreta], axis=0, ignore_index=True)
    veic_pesado = veic_pesado.drop(columns='Veiculos')
    veic_pesado = veic_pesado.drop_duplicates(subset='OcDataConcessionaria')
    veic_pesado['Veiculo_Pesado'] = True
    df = pd.merge(df, veic_pesado, on='OcDataConcessionaria', how='left')


    palavra_veic_onibus = 'Van'
    van = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_onibus, case=False)]

    palavra_veic_onibus = 'onibus'
    onibus = apoio_veiculos[apoio_veiculos['Veiculos'].str.contains(palavra_veic_onibus, case=False)]

    veic_onibus = pd.concat([van, onibus], axis=0, ignore_index=True)
    veic_onibus = veic_onibus.drop(columns=['Veiculos'])
    veic_onibus = veic_onibus.drop_duplicates(subset='OcDataConcessionaria')
    veic_onibus['Veiculo_Passageiro'] = True
    df = pd.merge(df, veic_onibus, on='OcDataConcessionaria', how='left')


    colunas = ['Veiculo_Leve', 'Motocicleta', 'Veiculo_Pesado', 'Veiculo_Passageiro']
    df[colunas] = df[colunas].fillna(False)

    return df

df_acidentes = tipo_veiculo(df_acidentes)

In [32]:
df_acidentes.drop(columns=['Veiculos']).head(5)

,NumOcorrencia,DataOcorrencia,DescrOcorrencia,Sentido,Rodovia,Numveic,Ilesos,VitimasLeves,VitimasModeradas,VitimasGraves,...,Longitude,Latitude,TipoAcidente,Local,TracadoPista,TipoLocal,Motocicleta,Veiculo_Leve,Veiculo_Pesado,Veiculo_Passageiro
0,6,2008-08-15,Acidente com VITIMA,N,BR101,1.0,NaN,1.0,NaN,NaN,...,-48.726440,-26.851751,Queda de Moto,Acostamento,Reta,Rural,True,False,False,False
1,13,2008-08-15,Acidente com Danos Materiais,N,BR376,1.0,1.0,NaN,NaN,NaN,...,-49.089647,-25.845787,Tombamento,Faixa de domínio,Curva Acentuada,Rural,False,False,True,False
2,26,2008-08-15,Acidente com VITIMA,N,BR376,1.0,NaN,1.0,1.0,NaN,...,-48.968578,-25.852474,Saida de Pista,Acostamento,Curva Acentuada,Rural,False,True,False,False
3,33,2008-08-15,Acidente com Danos Materiais,S,BR376,2.0,2.0,NaN,NaN,NaN,...,-48.927702,-25.898452,Colisão Lateral/Transversal,Acostamento,Reta,Rural,False,False,True,False
4,36,2008-08-15,Acidente com VITIMA,S,BR376,1.0,NaN,NaN,1.0,NaN,...,-48.968578,-25.852474,Colisão Lateral/Transversal,Acostamento,Reta,Rural,False,True,False,False

Analise dos dados de vitimas, onde cada linha é uma vitima envolvida, sendo que cada acidente poderia ter mais de uma vitima

In [ ]:
df_vitimas = unir_arquivos('C:/Users/Public/Documents/PythonScripts/Mestrado/DadosIniciais/RVT900')

In [34]:
df_vitimas.head(5)

,Concessionaria,ncontrole,NumVitima,NumOcorrencia,DataOcorrencia,TipoOcorrencia,DescrOcorrencia,TipoAcidente,Hora,km,...,UsoDoCinto,UsoDoCapacete,AVitimaEstava,RemovidaPor,Hospital,AtropelamentoAte200mDaPassarela,AtropelamentoMais200mDaPassarela,Latitude,Longitude,Posicao
0,ARTERIS FLUMINENSE,1,1,34,8/15/2008,*1*,Acidente com Vitima Fatal,NaN,NaN,23,...,Não,Não,NaN,NaN,NaN,NaN,NaN,-21.40775,-41.34295,Condutor
1,ARTERIS FLUMINENSE,2,1,71,8/15/2008,*2*,Acidente com VITIMA,Atropelamento - Morador,NaN,313,...,Não,Não,NaN,NaN,NaN,Não,Sim,-22.80975,-43.06875,Não Informado
2,ARTERIS FLUMINENSE,3,1,29,8/16/2008,*2*,Acidente com VITIMA,Atropelamento - Morador,8:50:00,237,...,Não,Não,NaN,NaN,NaN,Não,Sim,-22.61470,-42.41246,Não Informado
3,ARTERIS FLUMINENSE,4,1,59,8/16/2008,*i12*,Atendimento Clínico,NaN,NaN,308,...,Não,Não,NaN,NaN,NaN,NaN,NaN,-22.79291,-43.02411,Condutor
4,ARTERIS FLUMINENSE,5,1,66,8/16/2008,*2*,Acidente com VITIMA,NaN,NaN,282,...,Não,Não,NaN,NaN,NaN,NaN,NaN,-22.73627,-42.80146,Condutor

Algumas vitimas são de outros tipo de ocorrencica que não acidentes, dessa forma, são excluidas do modelo

In [ ]:
def vitimas_tipo_acidente(df):
    df['DescrOcorrencia'] = df['DescrOcorrencia'].str.replace('\*', '', regex=True)
    condicao = df['DescrOcorrencia'].isin(['Acidente com VITIMA', 'Acidente com Vitima Fatal', 'Acidente com Danos Materiais'])
    df = df[condicao]

    return df

df_vitimas = vitimas_tipo_acidente(df_vitimas)

Padronizando a posição da vitima no veiculo

In [ ]:
def posicao_vitimas(df):
    df['PosicaoVitima'] = df['PosicaoVitima'].replace(['Ignorado', np.nan], 'Passageiro')
    df['Sexo'] = df['Sexo'].replace('NI', 'M')
    df['Gravidade'].replace('Não Informado', 'Ileso', inplace=True)
    return df

df_vitimas = posicao_vitimas(df_vitimas)

In [ ]:
df_vitimas['PosicaoVitima'].value_counts()

# AQUI

In [38]:
def posicao_vitimas(df):
    df['PosicaoVitima'] = df['PosicaoVitima'].replace(['Piloto', 'Condutor'], 'Condutor')
    df['PosicaoVitima'] = df['PosicaoVitima'].replace(['Outros', 'Ignorado', 'Caçamba', 'Cadeirinha', 'Atrás do motorista', 'Atrás do acompanhante', 'Acompanhante', 'Garupa', np.nan], 'Passageiro')
    df['PosicaoVitima'] = df['PosicaoVitima'].replace(['Bicicleta', 'Pedestre'], 'Bicicleta/Pedestre')
    return df

df_vitimas = posicao_vitimas(df_vitimas)

df_vitimas['PosicaoVitima'].value_counts()

Incluindo faixa etaria

In [40]:
def faixa_etaria(df):
    df['Idade'] = df['Idade'].replace('Não Informado', 0).fillna(0).astype(int)
    df['Idade'] = df.apply(lambda row: row['Idade'] if (row['Idade'] > 15) else (
        0 if (row['Idade'] <= 15 and row['PosicaoVitima'] == 'Condutor') else row['Idade']), axis=1)
    return df

df_vitimas = faixa_etaria(df_vitimas)

# AQUI

In [41]:
def obter_idade(idade):
    if 1 <= idade <= 17:
        return '1-17 anos'
    elif 18 <= idade <= 24:
        return '18-24 anos'
    elif 25 <= idade <= 34:
        return '25-34 anos'
    elif 35 <= idade <= 49:
        return '35-49 anos'
    elif idade >= 50:
        return 'Maior que 50 anos'
    else:
        return 'Não Informado'


df_vitimas['Faixa_Etaria'] = df_vitimas['Idade'].apply(obter_idade)

In [44]:
df_vitimas = tratar_nome_concessionaria(df_vitimas)
df_vitimas = ajustando_formatos(df_vitimas)
df_vitimas = chave_primaria(df_vitimas)

C:\Users\loany\AppData\Local\Temp\ipykernel_26968\184597869.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Concessionaria'].replace(concessionaria, inplace=True)

,Concessionaria,ncontrole,NumVitima,NumOcorrencia,DataOcorrencia,TipoOcorrencia,DescrOcorrencia,TipoAcidente,Hora,km,...,AVitimaEstava,RemovidaPor,Hospital,AtropelamentoAte200mDaPassarela,AtropelamentoMais200mDaPassarela,Latitude,Longitude,Posicao,Faixa_Etaria,OcDataConcessionaria
0,Fluminense,1,1,34,2008-08-15,*1*,Acidente com Vitima Fatal,NaN,NaT,23.0,...,NaN,NaN,NaN,NaN,NaN,-21.40775,-41.34295,Condutor,Não Informado,34.2008-08-15.Fluminense
1,Fluminense,2,1,71,2008-08-15,*2*,Acidente com VITIMA,Atropelamento - Morador,NaT,313.0,...,NaN,NaN,NaN,Não,Sim,-22.80975,-43.06875,Não Informado,35-49 anos,71.2008-08-15.Fluminense
2,Fluminense,3,1,29,2008-08-16,*2*,Acidente com VITIMA,Atropelamento - Morador,1900-01-01 08:50:00,237.0,...,NaN,NaN,NaN,Não,Sim,-22.61470,-42.41246,Não Informado,1-17 anos,29.2008-08-16.Fluminense
4,Fluminense,5,1,66,2008-08-16,*2*,Acidente com VITIMA,NaN,NaT,282.0,...,NaN,NaN,NaN,NaN,NaN,-22.73627,-42.80146,Condutor,Não Informado,66.2008-08-16.Fluminense
5,Fluminense,6,1,86,2008-08-16,*2*,Acidente com VITIMA,NaN,NaT,313.0,...,NaN,NaN,NaN,NaN,NaN,-22.80971,-43.06878,Não Informado,1-17 anos,86.2008-08-16.Fluminense

In [ ]:
colunas_a_manter = ['OcDataConcessionaria', 'Concessionaria', 'NumVitima', 'NumOcorrencia', 'DataOcorrencia', 'DescrOcorrencia', 'PosicaoVitima', 'Sexo', 'Idade', 'Gravidade', 'Faixa_Etaria']
df_vitimas = df_vitimas.loc[:, colunas_a_manter].copy()

In [45]:
df_vitimas.head(5)

,Concessionaria,ncontrole,NumVitima,NumOcorrencia,DataOcorrencia,TipoOcorrencia,DescrOcorrencia,TipoAcidente,Hora,km,...,AVitimaEstava,RemovidaPor,Hospital,AtropelamentoAte200mDaPassarela,AtropelamentoMais200mDaPassarela,Latitude,Longitude,Posicao,Faixa_Etaria,OcDataConcessionaria
0,Fluminense,1,1,34,2008-08-15,*1*,Acidente com Vitima Fatal,NaN,NaT,23.0,...,NaN,NaN,NaN,NaN,NaN,-21.40775,-41.34295,Condutor,Não Informado,34.2008-08-15.Fluminense
1,Fluminense,2,1,71,2008-08-15,*2*,Acidente com VITIMA,Atropelamento - Morador,NaT,313.0,...,NaN,NaN,NaN,Não,Sim,-22.80975,-43.06875,Não Informado,35-49 anos,71.2008-08-15.Fluminense
2,Fluminense,3,1,29,2008-08-16,*2*,Acidente com VITIMA,Atropelamento - Morador,1900-01-01 08:50:00,237.0,...,NaN,NaN,NaN,Não,Sim,-22.61470,-42.41246,Não Informado,1-17 anos,29.2008-08-16.Fluminense
4,Fluminense,5,1,66,2008-08-16,*2*,Acidente com VITIMA,NaN,NaT,282.0,...,NaN,NaN,NaN,NaN,NaN,-22.73627,-42.80146,Condutor,Não Informado,66.2008-08-16.Fluminense
5,Fluminense,6,1,86,2008-08-16,*2*,Acidente com VITIMA,NaN,NaT,313.0,...,NaN,NaN,NaN,NaN,NaN,-22.80971,-43.06878,Não Informado,1-17 anos,86.2008-08-16.Fluminense

In [ ]:
df_acidentes.to_csv('Arquivos/df_acidentes.csv', index=False, encoding='utf-8')
df_vitimas.to_csv('Arquivos/df_vitimas.csv', index=False, encoding='utf-8')